The **KnnBaseline** performed the best out of all the models for the memory based algorithm.

**Knn Baseline** perform **slightly better** than the SVD method so we will use that for our model.

In [ ]:
final_df = hp.create_ranked_df(user_user, item_item, movies)
final_df['Movie Id'][0:5].values

array(['Shawshank Redemption, The (1994)',
       'Ghost in the Shell (Kôkaku kidôtai) (1995)',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
       'Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)',
       'Boot, Das (Boat, The) (1981)'], dtype=object)

## Different Approachs
Assuming that the two models combined will give a better accuracy than model individually, we can make a rating system that takes the average of the two ratings and potentially get a close rating for the test set from before. 

Another approach was to use content filtering and use the users previous prefered genres from the movies they rated highly on. Their is no way to know that a user would like them, but we can assume that a user would like similar genres over others listed.

In [16]:
### Cases ###
# 1. A new user is detected and display top 5 movies from the current ratings. 
# Does not use model since there is nothing to go off from 
# user_top_5(review_df= ratings)

# 2. User exist and have movies watched
# Return the list of movies with the ranking. 
top_5_1 = hp.user_top_5(knn_baseline,ratings, user_id = 3, movies= movies)
top_5_1_title = hp.id_title([ID[0] for ID in top_5_1[0:5]], movies)

# 3. User exist and have movies watched
# Return the list of movies with the ranking. 
top_5_593 = hp.user_top_5(knn_baseline,ratings, user_id = 593, movies= movies)
top_5_593_title = hp.id_title([ID[0] for ID in top_5_593[0:5]], movies)

top_5_1_title, top_5_593_title

(254     Léon: The Professional (a.k.a. The Professiona...
 257                                   Pulp Fiction (1994)
 1939                                   Matrix, The (1999)
 2226                                    Fight Club (1999)
 3141                                       Memento (2000)
 Name: title, dtype: object,
 585     Wallace & Gromit: The Best of Aardman Animatio...
 883                                 Paths of Glory (1957)
 1725                                     Happiness (1998)
 2582                  Guess Who's Coming to Dinner (1967)
 3087        In the Mood For Love (Fa yeung nin wa) (2000)
 Name: title, dtype: object)

### Final Movies Recommendation 
Some of the movies were in the top movies list in their list of movies. Based on the ratings and rank we given, some movies was movies were movied up and down which ideally give the best movies to user 1.

0.8715940464071135

### Examples
Test cases on new users and new movies to handle cold starts and add new movies whenever a user is reviewing a new movie.

**Case 1:** A new user wants recommendation to start watching movies <br>
**Results:** Recommends the top average movie tiltes from all ratings

A **new user** with a invalid user ID or no given ID will be recommended **5 of the top movies**.

**Case 2:** A user rated an existing movie in the list <br>
**Results:** Add a rating in the 'Ratings' dataset with the user ID, Movid Id and rating.

**User 11** reviews the movie ID, **1**, with the rating of **4.5**.

In [27]:
new_review = {'user_id': 11, 'movie_id': 1 , 'rating': 4.5}
new_df, new_movies = hp.add_review(new_review, ratings,movies)
new_df.tail()

        userId   movieId  rating
100832   610.0  168248.0     5.0
100833   610.0  168250.0     5.0
100834   610.0  168252.0     5.0
100835   610.0  170875.0     3.0
100836    11.0       1.0     4.5

**Case 3:** A new user rated an existing movie in the list
Results: Give the user a new ID and add a rating in the 'Ratings' dataset with the user ID, Movid Id and rating.

A **new user** is assigned a new ID number and rate thhe movie, **304** with a rating **3.0**

In [28]:
new_review = {'user_id': None, 'movie_id': 304, 'title':None , 'genre':None, 'rating': 3.0}
new_df, new_movies = hp.add_review(new_review, ratings,movies)
new_df.tail()

New user number assignment: 611

        userId   movieId  rating
100832   610.0  168248.0     5.0
100833   610.0  168250.0     5.0
100834   610.0  168252.0     5.0
100835   610.0  170875.0     3.0
100836   611.0     304.0     3.0

**Case 4:** A user rated a new movie in the list <br>
**Results:** Add a new movie ID, title and genre to the movies list and add a rating in the 'Ratings' dataset with the user ID, new Movid Id and rating.

**User 501** wants to add a **new movie** with the rating of **1.0**

In [29]:
new_review = {'user_id': 501, 'movie_id': None, 'title': 'Movie Example Movie' , 'genre':'Action', 'rating': 1.0}
new_df, new_movies = hp.add_review(new_review, ratings,movies)
new_df.tail()
new_movies.tail()

      movieId                                title                    genres
9738   193583         No Game No Life: Zero (2017)  animation|comedy|fantasy
9739   193585                         Flint (2017)                     drama
9740   193587  Bungo Stray Dogs: Dead Apple (2018)          action|animation
9741   193609  Andrew Dice Clay: Dice Rules (1991)                    comedy
9742   193610                  Movie Example Movie                    Action

**Case 5:** A new user rated a new movie in the list <br>
**Results:** Give the user a new ID, add a new movie ID, title and genre to the movies list and add a rating in the 'Ratings' dataset with the new user ID, new Movid Id and rating.

In [30]:
new_review = {'user_id': None, 'movie_id': None, 'title': 'Movie Example Movie v2' , 'genre':'Action', 'rating': 1.0}
new_df, new_movies = hp.add_review(new_review, ratings,movies)
display(new_df.tail(), new_movies.tail())

New user number assignment: 611

        userId   movieId  rating
100832   610.0  168248.0     5.0
100833   610.0  168250.0     5.0
100834   610.0  168252.0     5.0
100835   610.0  170875.0     3.0
100836   611.0  193610.0     1.0

      movieId                                title                    genres
9738   193583         No Game No Life: Zero (2017)  animation|comedy|fantasy
9739   193585                         Flint (2017)                     drama
9740   193587  Bungo Stray Dogs: Dead Apple (2018)          action|animation
9741   193609  Andrew Dice Clay: Dice Rules (1991)                    comedy
9742   193610               Movie Example Movie v2                    Action

New Movie